<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patrycja.companyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompanySetupActivity"/>
        <activity android:name=".CompanyMainActivity"/>
        <activity android:name=".HireManagerActivity"/>
        <activity android:name=".CompanyManagerActivity"/>
        <activity android:name=".HireDeveloperActivity"/>
        <activity android:name=".TaskActivity"/>
        <activity android:name=".ReportActivity"/>
    </application>

</manifest>